<!doctype html>
<html lang="en">
  <head>
    <!-- <script src = "/main.js"></script> -->

    <title>Tal, the candidate finder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- CSS Style -->
    <link href="main.css" rel="stylesheet">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700|Open+Sans" rel="stylesheet">
    <!-- Javascript code : TO BE MOVED TO SEPARATE FILE -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type='text/javascript' src = "main.js"></script>
    </head>
  <body>
    <div class="section">
    <div class="container">
            <h1 class="title">Tal</h1>
            <div class="container" id="login-forms">
              <h2 class="subtitle">Find the right people.</h2>  
              <div class="field">
                  <p class="control has-icons-left has-icons-right">
                    <input class="input" type="email" placeholder="Email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control has-icons-left">
                    <input class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                  </p>
                </div>
                <div class="field">
                  <p class="control">
                    <button class="button is-success">
                      <a href="profile.html">Login</a>  
                    </button>
                  </p>
                </div>
            </div>

            <!-- <h3>Pick the attributes that you want to build your model on. </h3>
            <div class="form-group">
              <label for="Attribute 1">Attribute 1</label>
              <select class="form-control" id="FormControlSelect1">
                <option>Major<option>
                <option>GPA</option>
                <option>number of internships</option>
                <option>number of languages known</option>
                <option>Quality of internships</option>
              </select>
            </div>
            
            <div class="form-group">
              <label for="Attribute 2">Attribute 2</label>
              <select class="form-control" id="FormControlSelect2">
                <option>Major<option>
                <option>GPA</option>
                <option>number of internships</option>
                <option>number of languages known</option>
                <option>Quality of internships</option>
              </select>
            </div>

            <div class="form-group">
              <label for="Attribute 3">Attribute 3</label>
              <select class="form-control" id="FormControlSelect3">
                <option>Major<option>
                <option>GPA</option>
                <option>number of internships</option>
                <option>number of languages known</option>
                <option>Quality of internships</option>
              </select>

              
            </div>
            <a href="output.html"r><button type="button" class="btn btn-primary">Submit</button></a> -->
        </div> 
      </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    </body>
</html>
