<!doctype html>
<html lang="en">
  <head>
    <!-- <script src = "/main.js"></script> -->

    <title>Tal, the candidate finder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!-- CSS Style -->
    <link href="main.css" rel="stylesheet">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700|Open+Sans" rel="stylesheet">
    <!-- Javascript code : TO BE MOVED TO SEPARATE FILE -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css" />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type='text/javascript' src = "index.js"></script>
    </head>
  <body>
    <div class="section">
    <div class="container">
            <h1 class="title is-1" id="page-title">Tal</h1>
            <div class="container" id="login-forms">
              <h3 class="title is-3">Find the right people.</h3>  
              <h3 class="subtitle">Tal is a ML based recruiting tool that lets you choose the perfect candidates.</h3>
              <div class="card has-text-centered is-wide">
                <!-- <header class="card-header">
                  <a class="button" id="login-btn">Login</a>
                  <a class="button" id="register-btn">Register</a>
                </header> -->
                <div class="card-content">
                  <!-- Name Input -->
                  <div class="field" id="name-input">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="text" placeholder="Name" id="name">
                      <span class="icon is-small is-left">
                          <i class="fas fa-user"></i>
                        </span>
                    </p>
                  </div>

                  <!-- Email Input -->
                  <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input class="input" type="email" placeholder="Email" id="email">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>

                  <!-- Password Input -->
                  <div class="field">
                    <p class="control has-icons-left">
                      <input class="input" type="password" placeholder="Password" id="password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>

                  <!-- Company Input -->
                  <div class="field" id="comp-input">
                      <p class="control has-icons-left has-icons-right">
                        <input class="input" type="text" placeholder="Company" id="company">
                        <span class="icon is-small is-left">
                            <i class="far fa-building"></i>
                        </span>
                      </p>
                    </div>
                  <div class="field">
                    <p class="control">
                      <button class="button is-success" id="submit-btn">
                        Login
                      </button>
                    </p>
                  </div>
                </div>
              </div>
              <div class="container" id="btn-container">
                  <!-- <a class="button" id="login-btn">Returning User</a> -->
                  <a class="button" id="register-btn">Create New Account</a>
              </div>
            </div>
        </div> 
      </div>  
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    </body>
</html>
