<!doctype html>
<html lang="en">
  <head>
    <script src = "main.js"></script>

    <title>Tal, the right candidate finder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bulma Style-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <!-- CSS Style -->
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai:700|Open+Sans" rel="stylesheet">
    <script type='text/javascript' src = "main.js"></script>
    </head>
  <body>
    <div class="container">
      <h1 class="title is-1">Tal</h1>
      <h5 class="subtitle is-5">Pick the attributes that you want to build your model on.</h5>
         
      <div class = "column">
      <div class="select is-rounded">
              <select id="FormControlSelect1">
                   <option>Choose Feature <option>
                    <option>Major<option>
                    <option>GPA</option>
                    <option>number of internships</option>
                    <option>number of languages known</option>
                    <option>Quality of internships</option>
              </select>
            </div>

            <div class="select is-rounded">
                <select id="FormControlSelect2">
                     <option>Choose Feature <option>
                      <option>Major<option>
                      <option>GPA</option>
                      <option>number of internships</option>
                      <option>number of languages known</option>
                      <option>Quality of internships</option>
                </select>
              </div>

              <div class="select is-rounded">
                  <select id="FormControlSelect3">
                       <option>Choose Feature<option>
                        <option>Major<option>
                        <option>GPA</option>
                        <option>number of internships</option>
                        <option>number of languages known</option>
                        <option>Quality of internships</option>
                  </select>
                </div>
              </div>
              
              <div class="field">
                  <div class="file is-large is-boxed has-name">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Large file…
                        </span>
                      </span>
                      <span class="file-name">
                        Screen Shot 2017-07-29 at 15.54.25.png
                      </span>
                    </label>
                  </div>
    
    
    
            </div>   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
