#user-info {
    display: block;
    float: right;
}
#page-title {
    display: inline-block;
}

#welcome-text {
    text-align: center;
}

#my-models {
    text-align: center;
}

#add-model {
    display: block;
}

.card{
    border-radius:10px;
    margin:5px;
}

.card-header {
    padding:10px;
    
}

.file-label {
    border-radius: 5px;
}

.is-rounded {
    margin-right:25px;
}

.uploads {
    margin-bottom:10px;
}

#upload-container{ 
    margin:auto;
}

.level-item .level{
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    padding:0px;
}

.button{
    margin: 5px;
}

#divider{


}