html, body {
    width: 100%;
    height: 100%;
}
.title{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

.subtitle{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

p {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}


#Internship-Quality{
    background-color:#ff6699;
}

#Num-Internship{
    background-color:#ff6699;
}

#Github-Score{
    background-color:#00cc66;

}
#Online-Coding-Score{
    background-color:#00cc66;
}

#Num-PL{
   background-color: #cc66ff;
}
#Machine-Learning{
    background-color: #cc66ff;

}
.section{
    padding-bottom: 0;
    margin-bottom: 0;
}

#user-info {
    display: block;
    float: right;
}
#page-title {
    display: inline-block;
    padding-left:20px;
}

#welcome-text {
    text-align: center;
}

#my-models {
    text-align: center;
}

#output-divider{   
     border-bottom: 2px solid;
    border-bottom-color: #dddddd;
    margin-bottom: 20px;
    padding: 0px;
}

.card{
    border-radius:10px;
    margin:5px;
}

.card-header {
    padding:10px; 
}

.file-label {
    border-radius: 5px;
}

.is-rounded {
    margin-right:25px;
}

.uploads {
    margin-bottom:10px;
}

#upload-container{ 
    margin:auto;
}

.level-item .level{
    padding-top:0px;
    padding-bottom:0px;
    margin:0px;
    padding:0px;
}

.button{
    margin: 5px;
}

#avatar {
    border-radius: 50%;
    float: right;
}

#compName {
    float: right;
    padding-left:10px;
    padding-top:15px;
}
#login-forms {
    text-align: center;
}
.card.is-wide {
    width: 550px;
    display: inline-block;
}

#login-btn, #register-btn {
    display: inline-block;
    width: 48%;
}

.card-header {
    padding: 0px;
}

button.is-success {
    width: 100%;
}

#comp-input {
    display: none;
}

#name-input {
    display: none;
}

#login-btn {
    background-color: #3884ff;
    color: white;
    float: left;
}

#btn-container {
    width: 550px;
}

button.is-success {
    color: white;
}

.column {
    border-top: 3px solid #dddddd;
}

#attr-col {
    border-right: 3px solid;
    border-color: #dddddd;
}

#chosen {
    height: 200px;
    width: 100%;
}

.file.is-boxed.has-name .file-cta {
    width: 700px;
    height: 120px;
}

.file.is-boxed.has-name .file-name {
    width: 550px;
}

.subtitle.is-6 {
    margin-bottom: 0px;
}

#upload-text {
    margin-bottom: 2px;
}

#upload-container {
    margin-bottom: 15px;
}

#inSub {
    width: 100%;
}

#avatar-cont {
    width: 66px;
    height: 66px;
    overflow: hidden;
    float: right;

}

#models-section {
    margin:auto;
}

#groupNameInput {
    width: 400px;
}

.deleteButton {
    display: none;
}

#school, #internships, #online-scores, #skills {
    height: 50px;
}

.skew {
    background-color: #3884ff;
    width: 100%;
    height: 500px;
    transform: skewY(10deg);
}

.small-skew {
    background-color: #00cc66;
    width: 100%;
    height: 200px;
    transform: skewY(-10deg);
}

#login-body {
    padding-bottom: 45px;
}
#group-name{
    margin-bottom: 5px;
}

#Training-upload{
    margin-bottom: 3px;
    padding-bottom: 0;
    margin-top: 0;
    padding-top: 0;
}

#login-main {
    overflow: hidden;
}

#profile-body {
    overflow: hidden;
}
