<!doctype html>
<html lang="en">
  <head>

    <title>TAL, the talent finder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Style -->
    <link href="main.css" rel="stylesheet">
    <!-- Font -->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script type="text/javascript" src="output.js"></script>
    </head>
  <body>
      <section class="section">
          <!-- <div class="container"> -->
            <div class="container">
            <h1 class="title" id="page-title">
              Tal
            </h1>
            <!-- <div id="user-info"> -->
                <p id="compName">Company Name</p>
                <img src="avatar.png" id="avatar">
            <!--  </div> -->
          </div>
        <!-- </div>           -->
        </section>
    <div class="container">
      <!-- <h1 class="title is-1">Tal</h1> -->
      <hr>
            <!-- Beginning of cards -->
            <div class="container">
              <div class="level">
                <a class="button is-primary is-rounded" id = "show">Show the Results</a>
              </div>
              <br>
              <h4 class="title is-4">Model 1</h4>              
              <div id="result-1"></div>
              <div id="result-2"></div>
              <div id="result-3"></div>
              <p>Based on the parameters you have chosen, these are the top candidates:</p>
              <div class="level" id = "candidates"></div>
              <a href="index.html" class="button is-info is-rounded">Do another search</a>
          </div>

    </div>
   
  </body>
</html>
