<!doctype html>
<html lang="en">
  <head>

    <title>TAL, the talent finder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Style -->
    <link href="main.css" rel="stylesheet">
    <!-- Font -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <script type="text/javascript" src="output.js"></script>
    </head>
  <body>
      <section class="section">
          <!-- <div class="container"> -->
            <div class="container">
            <h1 class="title is-1" id="page-title">Tal</h1>
            <!-- <div id="user-info",> -->
                <h5 class="title is-5" id="compName"></h5>
                <div id="avatar-cont">
                  <img src="avatar.jpg" id="avatar">
                </div>
            <!--  </div> -->
          </div>
        <!-- </div>           -->
      </section>
      <div class="container" style="padding-bottom: 10px; text-align: center">
            <!-- <h3 class="subtitle is-3" id="group-name"></h3>  -->
            <h3 class="title is-3" id="group-name"></h3>     
      </div>
    <div class="container">
      <hr>
            <h4 class="title is-4">Model 1</h4>
            <!-- Chart -->
            <div class="container" id="chart-container">
                <h6 class="title is-6">Distribution of GPAs</h6>
                <div id="chart"></div>
                <h6 class="title is-6">Distribution of Experience</h6>
                <div id="internship-chart"></div>
            </div>
            <!-- Beginning of cards -->
            <div class="container">
              <div id="result-1"></div>
              <div id="result-2"></div>
              <div id="result-3"></div>
              <p>Based on the below parameters, these are the top candidates:</p>
              <div class="level" id = "attributes"></div>
              <div class="level" id = "candidates"></div>
              <a href="input.html" class="button is-info is-rounded">Do another search</a>
          </div>

    </div>
   
  </body>
</html>
