<!doctype html>
<html lang="en">
  <head>

    <title>TAL, the talent finder</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS Style -->
    <link href="main.css" rel="stylesheet">
    <!-- Font -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.css">  
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400" rel="stylesheet">
    <script type="text/javascript" src="output.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"> </script>
    <script>
const data = [
  [5.1, 3.5, 1.4, 0.2, 0], [4.9, 3.0, 1.4, 0.2, 0], [4.7, 3.2, 1.3, 0.2, 0],
  [4.6, 3.1, 1.5, 0.2, 0], [5.0, 3.6, 1.4, 0.2, 0], [5.4, 3.9, 1.7, 0.4, 0],
  [4.6, 3.4, 1.4, 0.3, 0], [5.0, 3.4, 1.5, 0.2, 0], [4.4, 2.9, 1.4, 0.2, 0],
  [4.9, 3.1, 1.5, 0.1, 0], [5.4, 3.7, 1.5, 0.2, 0], [4.8, 3.4, 1.6, 0.2, 0],
  [4.8, 3.0, 1.4, 0.1, 0], [4.3, 3.0, 1.1, 0.1, 0], [5.8, 4.0, 1.2, 0.2, 0],
  [5.7, 4.4, 1.5, 0.4, 0], [5.4, 3.9, 1.3, 0.4, 0], [5.1, 3.5, 1.4, 0.3, 0],
  [5.7, 3.8, 1.7, 0.3, 0], [5.1, 3.8, 1.5, 0.3, 0], [5.4, 3.4, 1.7, 0.2, 0],
  [5.1, 3.7, 1.5, 0.4, 0], [4.6, 3.6, 1.0, 0.2, 0], [5.1, 3.3, 1.7, 0.5, 0],
  [4.8, 3.4, 1.9, 0.2, 0], [5.0, 3.0, 1.6, 0.2, 0], [5.0, 3.4, 1.6, 0.4, 0],
  [5.2, 3.5, 1.5, 0.2, 0], [5.2, 3.4, 1.4, 0.2, 0], [4.7, 3.2, 1.6, 0.2, 0],
  [4.8, 3.1, 1.6, 0.2, 0], [5.4, 3.4, 1.5, 0.4, 0], [5.2, 4.1, 1.5, 0.1, 0],
  [5.5, 4.2, 1.4, 0.2, 0], [4.9, 3.1, 1.5, 0.1, 0], [5.0, 3.2, 1.2, 0.2, 0],
  [5.5, 3.5, 1.3, 0.2, 0], [4.9, 3.1, 1.5, 0.1, 0], [4.4, 3.0, 1.3, 0.2, 0],
  [5.1, 3.4, 1.5, 0.2, 0], [5.0, 3.5, 1.3, 0.3, 0], [4.5, 2.3, 1.3, 0.3, 0],
  [4.4, 3.2, 1.3, 0.2, 0], [5.0, 3.5, 1.6, 0.6, 0], [5.1, 3.8, 1.9, 0.4, 0],
  [4.8, 3.0, 1.4, 0.3, 0], [5.1, 3.8, 1.6, 0.2, 0], [4.6, 3.2, 1.4, 0.2, 0],
  [5.3, 3.7, 1.5, 0.2, 0], [5.0, 3.3, 1.4, 0.2, 0], [7.0, 3.2, 4.7, 1.4, 1],
  [6.4, 3.2, 4.5, 1.5, 1], [6.9, 3.1, 4.9, 1.5, 1], [5.5, 2.3, 4.0, 1.3, 1],
  [6.5, 2.8, 4.6, 1.5, 1], [5.7, 2.8, 4.5, 1.3, 1], [6.3, 3.3, 4.7, 1.6, 1],
  [4.9, 2.4, 3.3, 1.0, 1], [6.6, 2.9, 4.6, 1.3, 1], [5.2, 2.7, 3.9, 1.4, 1],
  [5.0, 2.0, 3.5, 1.0, 1], [5.9, 3.0, 4.2, 1.5, 1], [6.0, 2.2, 4.0, 1.0, 1],
  [6.1, 2.9, 4.7, 1.4, 1], [5.6, 2.9, 3.6, 1.3, 1], [6.7, 3.1, 4.4, 1.4, 1],
  [5.6, 3.0, 4.5, 1.5, 1], [5.8, 2.7, 4.1, 1.0, 1], [6.2, 2.2, 4.5, 1.5, 1],
  [5.6, 2.5, 3.9, 1.1, 1], [5.9, 3.2, 4.8, 1.8, 1], [6.1, 2.8, 4.0, 1.3, 1],
  [6.3, 2.5, 4.9, 1.5, 1], [6.1, 2.8, 4.7, 1.2, 1], [6.4, 2.9, 4.3, 1.3, 1],
  [6.6, 3.0, 4.4, 1.4, 1], [6.8, 2.8, 4.8, 1.4, 1], [6.7, 3.0, 5.0, 1.7, 1],
  [6.0, 2.9, 4.5, 1.5, 1], [5.7, 2.6, 3.5, 1.0, 1], [5.5, 2.4, 3.8, 1.1, 1],
  [5.5, 2.4, 3.7, 1.0, 1], [5.8, 2.7, 3.9, 1.2, 1], [6.0, 2.7, 5.1, 1.6, 1],
  [5.4, 3.0, 4.5, 1.5, 1], [6.0, 3.4, 4.5, 1.6, 1], [6.7, 3.1, 4.7, 1.5, 1],
  [6.3, 2.3, 4.4, 1.3, 1], [5.6, 3.0, 4.1, 1.3, 1], [5.5, 2.5, 4.0, 1.3, 1],
  [5.5, 2.6, 4.4, 1.2, 1], [6.1, 3.0, 4.6, 1.4, 1], [5.8, 2.6, 4.0, 1.2, 1],
  [5.0, 2.3, 3.3, 1.0, 1], [5.6, 2.7, 4.2, 1.3, 1], [5.7, 3.0, 4.2, 1.2, 1],
  [5.7, 2.9, 4.2, 1.3, 1], [6.2, 2.9, 4.3, 1.3, 1], [5.1, 2.5, 3.0, 1.1, 1],
  [5.7, 2.8, 4.1, 1.3, 1], [6.3, 3.3, 6.0, 2.5, 2], [5.8, 2.7, 5.1, 1.9, 2],
  [7.1, 3.0, 5.9, 2.1, 0], [6.3, 2.9, 5.6, 1.8, 0], [6.5, 3.0, 5.8, 2.2, 2],
  [7.6, 3.0, 6.6, 2.1, 0], [4.9, 2.5, 4.5, 1.7, 0], [7.3, 2.9, 6.3, 1.8, 0],
  [6.7, 2.5, 5.8, 1.8, 0], [7.2, 3.6, 6.1, 2.5, 0], [6.5, 3.2, 5.1, 2.0, 0],
  [6.4, 2.7, 5.3, 1.9, 0], [6.8, 3.0, 5.5, 2.1, 0], [5.7, 2.5, 5.0, 2.0, 0],
  [5.8, 2.8, 5.1, 2.4, 0], [6.4, 3.2, 5.3, 2.3, 0], [6.5, 3.0, 5.5, 1.8, 0],
  [7.7, 3.8, 6.7, 2.2, 0], [7.7, 2.6, 6.9, 2.3, 0], [6.0, 2.2, 5.0, 1.5, 0],
  [6.9, 3.2, 5.7, 2.3, 0], [5.6, 2.8, 4.9, 2.0, 0], [7.7, 2.8, 6.7, 2.0, 0],
  [6.3, 2.7, 4.9, 1.8, 0], [6.7, 3.3, 5.7, 2.1, 0], [7.2, 3.2, 6.0, 1.8, 0],
  [6.2, 2.8, 4.8, 1.8, 1], [6.1, 3.0, 4.9, 1.8, 1], [6.4, 2.8, 5.6, 2.1, 1],
  [7.2, 3.0, 5.8, 1.6, 1], [7.4, 2.8, 6.1, 1.9, 1], [7.9, 3.8, 6.4, 2.0, 1],
  [6.4, 2.8, 5.6, 2.2, 1], [6.3, 2.8, 5.1, 1.5, 1], [6.1, 2.6, 5.6, 1.4, 1],
  [7.7, 3.0, 6.1, 2.3, 1], [6.3, 3.4, 5.6, 2.4, 1], [6.4, 3.1, 5.5, 1.8, 1],
  [6.0, 3.0, 4.8, 1.8, 1], [6.9, 3.1, 5.4, 2.1, 1], [6.7, 3.1, 5.6, 2.4, 1],
  [6.9, 3.1, 5.1, 2.3, 1], [5.8, 2.7, 5.1, 1.9, 1], [6.8, 3.2, 5.9, 2.3, 1],
  [6.7, 3.3, 5.7, 2.5, 1], [6.7, 3.0, 5.2, 2.3, 1], [6.3, 2.5, 5.0, 1.9, 1],
  [6.5, 3.0, 5.2, 2.0, 1], [6.2, 3.4, 5.4, 2.3, 1], [5.9, 3.0, 5.1, 1.8, 1],
];
let train = [];
let tempTrain = [];
let test = [];
let tempTest = [];
let compare = [];
let prlist = [];
$.ajax({
            url: "/api/student/view",
            type: 'GET',
            success: function(res) {
              for(let i=0;i<150;i++){
                tempTrain.push(res.students[i].github_score);
                tempTrain.push(res.students[i].resume_score);
                tempTrain.push(res.students[i].online_code_score);
                tempTrain.push(res.students[i].gpa);
                train.push(tempTrain);
                tempTrain = [];
              }
              //console.log(train);
              let features = [];
              let targets = [];
              for(let i=0;i<150;i++){
                features.push(train[i].slice(0,4));
                targets.push(data[i][4]);
              }
              const xDims = 4;
              const xs = tf.tensor2d(train, [features.length, xDims]);
              const ys = tf.oneHot(tf.tensor1d(targets).toInt(), 2);
              const model = tf.sequential();
                model.add(tf.layers.dense(
                    {units: 10, activation: 'sigmoid', inputShape: [4]}));
                model.add(tf.layers.dense({units: 2, activation: 'softmax'}));

                const optimizer = tf.train.adam(0.001);
                model.compile({
                  optimizer: optimizer,
                  loss: 'categoricalCrossentropy',
                  metrics: ['accuracy'],
              });
              
              for(i=150;i<200;i++){
                tempTest.push(res.students[i].github_score);
                tempTest.push(res.students[i].resume_score);
                tempTest.push(res.students[i].online_code_score);
                tempTest.push(res.students[i].gpa);
                tempTest.push(res.students[i].fname);
                tempTest.push(res.students[i].lname);
                test.push(tempTest);
                tempTest = [];
              }
              let maxOne=0,maxTwo=0,maxThree=0;
              model.fit(xs, ys).then(() => { 
                for(i=0;i<50;i++){
                  const input = tf.tensor2d(test[i].slice(0,4), [1, 4]);
                  const predictOut = model.predict(input);
                  const logits = Array.from(predictOut.dataSync());
                  compare.push([logits[1],i]);
                  prlist.push(logits[1]);
                }
                const maxOne = Math.max(...prlist);
                let indice = prlist.indexOf(Math.max(...prlist));
                if (indice > -1) {
                  prlist.splice(indice, 1);
                }
                const maxTwo = Math.max(...prlist);
                let index = prlist.indexOf(Math.max(...prlist));
                if (index > -1) {
                  prlist.splice(index, 1);
                }
                const maxThree = Math.max(...prlist);
                for(i=0;i<50;i++){
                  if(compare[i][0]==maxOne){
                    console.log(test[i]);
                  }
                  if(compare[i][0]==maxTwo){
                    console.log(test[i]);
                  }
                  if(compare[i][0]==maxThree){
                    console.log(test[i]);
                  }
                }
              });
            }
        });

    </script>
    </head>
  <body>
      <section class="section">
          <!-- <div class="container"> -->
            <div class="container">
            <h1 class="title is-1" id="page-title">Tal</h1>
            <!-- <div id="user-info",> -->
                <h5 class="title is-5" id="compName"></h5>
                <div id="avatar-cont">
                  <img src="avatar.jpg" id="avatar">
                </div>
            <!--  </div> -->
          </div>
        <!-- </div>           -->
      </section>
      <div class="container" style="padding-bottom: 10px; text-align: center">
            <!-- <h3 class="subtitle is-3" id="group-name"></h3>  -->
            <h3 class="title is-3" id="group-name"></h3>     
      </div>
    <div class="container">
      <hr>
            <h4 class="title is-4">Model 1</h4>
            <!-- Chart -->
            <div class="container" id="chart-container">
                <h6 class="title is-6">Distribution of GPAs</h6>
                <div id="chart"></div>
                <h6 class="title is-6">Distribution of Experience</h6>
                <div id="internship-chart"></div>
            </div>
            <!-- Beginning of cards -->
            <div class="container">
              <div id="result-1"></div>
              <div id="result-2"></div>
              <div id="result-3"></div>
              <p>Based on the below parameters, these are the top candidates:</p>
              <div class="level" id = "attributes"></div>
              <div class="level" id = "candidates"></div>
              <a href="input.html" class="button is-info is-rounded">Do another search</a>
          </div>

    </div>
   
  </body>
</html>
